/* * Header */
.header-wrapper {
  justify-content: space-between;
  padding-bottom: 15px;
  align-items: center;
  padding-top: 15px;
  display: flex;
}
/* * Navigation */
.navigation-list {
  list-style-type: none;
  display: flex;
}

.navigation-item {
  color: var(--c-zeus);
  margin-right: 10px;
}

.navigation-item:last-child {
  margin-right: 0px;
}
/* * Buttons */
.header-button {
  display: flex;
}

.header-first-button {
  margin-right: 30px;
  border: 1px solid var(--c-blue-light);
  background-color: var(--c-white);
  font-size: var(--f-standart);
  border-radius: 4px;
  line-height: 20px;
  font-weight: 600;
  padding: 0 20px;
  cursor: pointer;
  height: 46px;
}

.orange-button {
  background-color: var(--c-orange);
  font-size: var(--f-standart);
  transition: var(--t-normal);
  color: var(--c-white);
  border-radius: 4px;
  line-height: 20px;
  font-weight: 600;
  padding: 0 20px;
  cursor: pointer;
  border: none;
  height: 46px;
}

.orange-button:hover {
  opacity: 0.7;
}
/* * First screen */
.banner-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 70px;
}

.banner-content {
  max-width: 500px;
  width: 100%;
}

.banner-item {
  padding-bottom: 25px;
}

.banner-header {
  font-size: var(--f-big);
  line-height: 55px;
}

.banner-subheader {
  font-size: var(--f-small);
  line-height: 28px;
}

.banner-item:last-child {
  padding-bottom: 0;
}

.banner-img {
  display: flex;
  max-width: 645px;
  width: 100%;
}

/* * Second screen */
.second-screen-wrapper{
  padding-top: 100px;
}

.second-screen-header {
  font-size: var(--f-head);
  text-align: center;
  max-width: 550px;
  margin: 0 auto;
  width: 100%;
}

.second-screen-content {
  justify-content: space-between;
  position: relative;
  padding-top: 50px;
  display: flex;
}

.second-screen-card {
  max-width: 270px;
  width: 100%;
}

.card {
  justify-content: center;
  align-items: center;
  max-height: 50px;
  max-width: 50px;
  display: flex;
  height: 100%;
  width: 100%;
}

.card-item {
  justify-content: center;
  align-items: center;
  display: flex;
}

.purple-card {
  background-color: var(--c-purple);
  border-radius: 10px;
}

.orange-card {
  background-color: var(--c-yellow);
  border-radius: 10px;
}

.red-card {
  background-color: var(--c-red);
  border-radius: 10px;
}

.blue-card {
  background-color: var(--c-blue);
  border-radius: 10px;
}

.second-screen-name {
  padding-top: 30px;
}

.second-screen-subname {
  padding-top: 15px;
} 

.second-screen-footer {
  justify-content: center;
  align-items: center;
  padding-top: 100px;
  display: flex;
}

.second-screen-background {
  position: absolute;
  user-select: none;
  z-index: -1;
  bottom: 0;
  right: 0;
  left: 0;
  top: 0;
}

/* * Footer */
.footer {
  border: 1px solid #bcd0e57f;
  padding-bottom: 70px;
  margin-top: 60px;
  padding-top: 170px;
}

.footer-wrapper {
  justify-content: space-between;
  display: flex;
}

.footer-item {
  list-style-type: none;
  margin-top: 30px;
}

.footer-link {
  margin-bottom: 15px;
}

.footer-link:last-child {
  margin-bottom: 0;
}

.h3 {
  font-size: var(--f-base);
  line-height: 30px;
  font-weight: 700;
}

.fill-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.input {
  border: 1px solid #bcd0e5;
  border-radius: 4px;
  margin-top: 25px;
  padding: 10px;
  width: 340px;
  height: 50px;
}

.footer-button {
  margin-top: 25px;
}
