/* * Header */
.header-wrapper {
  justify-content: space-between;
  padding-bottom: 15px;
  align-items: center;
  padding-top: 15px;
  display: flex;
}
/* * Navigation */
.navigation-list {
  list-style-type: none;
  display: flex;
}

.navigation-item {
  color: var(--c-zeus);
  margin-right: 10px;
}

.navigation-item:last-child {
  margin-right: 0px;
}
/* * Buttons */
.header-buttons {
  display: flex;
}

.sign-in {
  margin-right: 30px;
  border: 1px solid var(--c-blue-light);
  background-color: var(--c-white);
  font-size: var(--f-standart);
  border-radius: 4px;
  line-height: 20px;
  font-weight: 600;
  padding: 0 20px;
  cursor: pointer;
  height: 46px;
}

.sign-up {
  background-color: var(--c-orange);
  font-size: var(--f-standart);
  transition: var(--t-normal);
  color: var(--c-white);
  border-radius: 4px;
  line-height: 20px;
  font-weight: 600;
  padding: 0 20px;
  cursor: pointer;
  border: none;
  height: 46px;
}

.sign-up:hover {
  opacity: 0.7;
}
/* * First screen */
.first-wrapper {
  margin-top: 70px;
  display: flex;
  /* justify-content: space-between; */
}
/* * Left side */
.text-info {
  max-width: 450px;
  margin-right: 70px;
}

.h1 {
  margin-top: 100px;
  font-size: var(--f-big);
  line-height: 50px;
  font-weight: 700;
}

.sub-text {
  margin-top: 30px;
  font-size: var(--f-small);
  line-height: 28px;
  font-weight: 400;
}

.orange-button {
  background-color: var(--c-orange);
  font-size: var(--f-standart);
  transition: var(--t-normal);
  color: var(--c-white);
  border-radius: 4px;
  line-height: 20px;
  font-weight: 600;
  margin-top: 30px;
  padding: 0 20px;
  cursor: pointer;
  border: none;
  height: 46px;
}

.orange-button:hover {
  opacity: 0.7;
}
/* * Second screen */
.second-screen {
  padding-bottom: 75px;
  position: relative;
}

.second-screen-background {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
}

.second-screen-wrapper {
  position: relative;
  margin-top: 100px;
  z-index: 1;
}

.h2 {
  font-size: var(--f-head); /* var */
  text-align: center;
  line-height: 44px;
  font-weight: 700;
  max-width: 450px;
  margin: 0 auto;
}

.icon {
  height: 50px;
  width: 50px;
}

.content {
  justify-content: space-between;
  margin-top: 50px;
  display: flex;
}

.info {
  margin-right: 40px;
  max-width: 240px;
}

.info:last-child {
  margin-right: 0;
}

.cards-name {
  font-size: var(--f-base);
  line-height: 26px;
  margin-top: 30px;
  font-weight: 600;
}

.paragraph {
  font-size: var(--f-standart);
  line-height: 26px;
  margin-top: 16px;
  font-weight: 500;
}

.button {
  justify-content: center;
  margin-top: 70px;
  display: flex;
}
/* * Footer */
.footer {
  border: 1px solid #bcd0e57f;
  padding-bottom: 70px;
  margin-top: 100px;
  padding-top: 70px;
}

.footer-wrapper {
  justify-content: space-between;
  display: flex;
}

.footer-item {
  list-style-type: none;
  margin-top: 30px;
}

.footer-link {
  margin-bottom: 15px;
}

.footer-link:last-child {
  margin-bottom: 0;
}

.h3 {
  font-size: var(--f-base);
  line-height: 30px;
  font-weight: 700;
}

.fill-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.input {
  border: 1px solid #bcd0e5;
  border-radius: 4px;
  margin-top: 25px;
  width: 340px;
  height: 50px;
}
