:root {
    /* colors  */
    --c-judge-grey: #544837; /* + */
    --c-orange: #FF9900; /* + */
    --c-white: #ffffff; /* + */
    --c-zeus: #2F281E; /* + */
    --c-dark-blue: #173A56;/* + */
    --c-blue-light: #BCD0E5;
    /* fonts */
    --f-base: 22px;
    --f-small: 18px;
    --f-big: 44px;
    /* cubic bezier */
    --b-normal: cubic-bezier(0.4, 0, 0.2, 1);
    /* transition */
    --t-normal: 0.35s var(--b-normal);
}