:root {
  --c-dark-grey: #333;
  --c-black: #1f1209;
  --c-grey: #c0c0c0;
  --с-blue: #378BA4;
}

.app {
  flex-direction: row;
  display: flex;
}

.left-side {
  background-color: var(--c-grey);
  min-height: 830px;
  border-radius: 1%;
  width: 400px;
}

.my-img {
  padding: 20px 20px 0 20px;
  border-radius: 70px;
  height: 300px;
  width: 300px;
}

.name {
  text-align: center;
  margin-top: 20px;
  font-size: 28px;
}

hr {
  box-shadow: 0 20px 20px -20px var(--c-dark-grey);
  border-bottom: 1px solid var(--c-black);
  margin: -30px auto 10px;
  border: none;
  height: 50px;
  padding: 0;
  width: 95%;
}

.social-net {
  justify-content: center;
  flex-direction: row;
  margin-top: 20px;
  display: flex;
}

.social-net img {
  height: 50px;
  width: 50px;
}

.language h2 {
  margin-top: 20px;
  font-size: 26px;
}

.language {
  text-align: center;
  font-size: 18px;
}

.skills {
  text-align: center;
  margin-top: 20px;
  font-size: 18px;
}

a {
  border: 1px solid transparent;
  text-decoration: none;
  color: var(--c-black);
}

a:hover {
  background-color: var(--с-blue);
  border: 1px solid var(--c-blue);
  transition: 0.5s ease;
  border-radius: 5px;
}

.uk-en-page {
  margin: 20px 0 20px 0;
  text-align: center;
}

.right-side {
  min-height: 830px;
}

.right-side h2 {
  /* padding-bottom: 10px; */
  text-align: center;
  margin-top: 100px;
  font-size: 32px;
}

.my-text {
  padding: 20px 0 0 30px;
}
