/* I have no repeating colors in my project, so I indicated the variable to follow my homework regulations, but in this case it is not needed */
:root {
  --color-grey: #c0c0c0;
  --color-black: #1f1209;
  --padding-for-text: 100px 0 0 30px;
}

.app {
  display: flex;
  flex-direction: row;
}

.left-side {
  width: 400px;
  min-height: 830px;
  background-color: var(--color-grey);
  border-radius: 1%;
}

.my-img {
  padding: 20px 20px 0 20px;
  width: 300px;
  height: 300px;
  border-radius: 70px;
}

.name {
  margin-top: 20px;
  font-size: 28px;
  text-align: center;
}

hr {
  margin: -30px auto 10px;
  padding: 0;
  height: 50px;
  border: none;
  border-bottom: 1px solid var(--color-black);
  box-shadow: 0 20px 20px -20px #333;
  width: 95%;
}

.social-net {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 20px;
}

.social-net img {
  width: 50px;
  height: 50px;
}

.language h2 {
  margin-top: 20px;
  font-size: 26px;
}

.language {
  font-size: 18px;
  text-align: center;
}

.skills {
  margin-top: 20px;
  font-size: 18px;
  text-align: center;
}

.uk-en-page {
  margin: 20px 0 20px 0;
  text-align: center;
}

.right-side {
  min-height: 830px;
}

.right-side h2 {
  text-align: center;
  padding-bottom: 10px;
  font-size: 32px;
}

.about-me {
  padding: var(--padding-for-text);
}

.education {
  padding: var(--padding-for-text);
}

.work-exp {
  padding: var(--padding-for-text);
}
