// * Fonts | If no need add some format JUST DELETE
@mixin font-face($font-name,$fontfile,$fontweight: normal,$fontstyle: normal
) {
  @font-face {
		font-family: $font-name;
		src: url("./assets/fonts/" + $fontfile + ".eot");
		src: url("./assets/fonts/" + $fontfile + ".eot?#iefix") format("embedded-opentype"),
		url("./assets/fonts/" + $fontfile + ".woff") format("woff"),
		url("./assets/fonts/" + $fontfile + ".ttf") format("truetype");
		font-weight: $fontweight;
		font-style: $fontstyle;
	}
};

// * EM Generator - for automaticaly calculate from px to em
@function em($px) {
	@return $px / $fs-base + em;
}

// * Generate size - for automaticaly make square in px
@mixin size($px) {
	width: $px + px;
	height: $px + px;
}

// * Flex - for automaticaly make flex defoult style
@mixin flex($center: null) {
	align-items: center;
	display: flex;
	@if $center {
		justify-content: center;
	}
	@else {
		justify-content: space-between;
	}
}