.link {
  color: var(--c-silver);
  text-decoration: none;
}

.link:hover {
  transition: 0.35s;
  color: var(--c-black);
}

.header-wrapper {
  max-width: 940px;
  margin: 0 auto;
}

.navigation-item {
  border-bottom: 1px solid var(--c-black);
  padding-bottom: 30px;
  text-align: center;
  padding-top: 22px;
}
.navigation-menu {
  padding-left: 40px;
  display: inline;
}

.denis-wrapper {
  margin: 0px auto;
  max-width: 940px;
}

.name {
  padding-top: 12px;
  font-size: var(--f-main);
}

.denis-photo {
  margin-top: 38px;
  height: 386px;
  width: 942px;
}

.about-me-wrapper {
  background-color: var(--c-grey);
  text-align: center;
}

.head-about-me {
  padding-top: 100px;
  padding-bottom: 50px;
  font-size: var(--f-head);
  font-weight: 700;
}

.about-me-text {
  font-size: var(--f-base);
  margin: 0px auto;
  line-height: 24px;
  max-width: 480px;
  font-weight: 400;
}

.about-me-paragraph {
  padding-bottom: 30px;
}

.about-me-text :last-child {
  padding-bottom: 100px;
}