:root {
	/* * Colors */
	--c-light-grey: #808391;
	--c-dark-grey: #414453;
	--c-yellow: #ffce6d;
	--c-red: #ff545a;
  /* * Starting point */
  --start-point: 100px;
  /* * Circle size */
  --circle-size-big: calc(var(--start-point) * 2);
  --circle-size-medium: calc(var(--circle-size-big) - 10%);
  --circle-size-small: calc(var(--circle-size-big) - 12.5%);
  /* * Lines size */
  --line-width-big: calc(80% - var(--circle-size-medium));
  --line-width-small: calc(80% - var(--circle-size-small));
  --line-height: 6px;

}

